
.controls-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f5f5f5;
    padding: 0.5em 1em;
    margin: 1em 0;
    border-radius: 5px;
    width: 100%;
}

.time {
    font-size: 1.125rem;
    margin-right: 1.5em;
}

.more-controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1em;
    padding: 0 0.5em;
    border-left: 2px solid #bbbbbb;
    gap: 0.5em;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.button {
    cursor: pointer;
    padding: 0.5em;
    border-radius: 5px;
}

.button:hover {
    background-color: lightblue;
}

.play-pause-button, .skip-button, .stop-button {
    background: none;
    border: none;
    width: 35px;
}

.volume-icon, .headphones-icon {
    min-width: 25px;
    max-width: 25px;
}

.volume-container {
    width: 210px;
}

.volume-icon {
    cursor: pointer;
}

.checkbox-container > label, .checkbox-container > input {
    cursor: pointer;
}

.player {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
    width: 100%;
}

.main-section {
    width: 85%;
}

.side-pannel {
    display: flex;
    justify-content: flex-start;
}

.wavesurfer-top-volumes {
    background-color: #f5f5f5;
    padding: 0 1em;
    border-radius: 5px;
    margin-left: auto;
    height: 100%;
}

.wavesurfer-stream-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 130px;
    border-bottom: 1px solid #bbbbbb;
}


.volume-value {
    width: 25px;
}

.disabled {
    pointer-events: none;
    color: grey;
}

/*------------------------------ Equalizer --------------------------------*/

.equalizer {
    width: 400px;
    margin-top: 5em;
}


.equalizer-buttons-container {
    display: flex;
    justify-content: center;
    margin: 0 0 2em 0;
    
}

.reset-equalizers-button {
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 5px;
}

.equalizer-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
    margin: 1em 0;
}

/* .equalizer-span::selection, .equalizer-label::selection {
    background: none;
} */

.equalizer-span {
    width: 40px;
    text-align: center;
}

.equalizer-panner-container {
    display: flex;
    flex-direction: column;
    width: 8%;
    margin: 0 .5em;
    text-align: center;
}

.equalizer-slider {
    writing-mode: vertical-rl;
    direction: rtl;
    margin: 0 0.5em;
}

.equalizer-zero-line {
    width: 100%;
    position: absolute;
    top: 47px;
    border: 1px dashed gray;
    left: 0;
    z-index: 3;
}