* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.top-general-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 0.25em 0.5em;
}

.middle-section {
  display: flex;
}

.top-icons-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25em;
}

.top-icon {
  border-radius: 5px;
  color: #666666;
}

.settings-icon {
  border-radius: 50%;
  background-color: #bbbbbb;
}

.upload-file-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.general-details-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
  padding: 0 1em;
  width: 75%;
}

.speakers-view  {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  border-radius: 5px;
  padding: 0;
  margin: 0.75em 0;
}

.speakers-view > p {
  direction: rtl;
  font-weight: 600;
}

.speakers-view-button {
  cursor: pointer;
  padding: 0.5em;
  border-radius: 5px;
}

.speakers-view-button:hover, .speakers-view-button:focus {
  background-color: whitesmoke;
}

  .speakers-view-button-active {
    pointer-events: none;
    background-color: lightblue;
  }